afterRender.zip
html-gui.zip
octree.zip
octree.html
*.*~
/scripts/*.ts
/stuff/**
/node_modules/@babel/**
/node_modules/babylonjs*/**
/node_modules/.bin/**
/node_modules/complex.js/**
/node_modules/d3-octree/**
/node_modules/decimal.js/**
/node_modules/earcut/**
/node_modules/escape-latex/**
/node_modules/file-saver/**
/node_modules/fraction.js/**
/node_modules/handjs/**
/node_modules/javascript-natural-sort/**
/node_modules/mathjs/**
/node_modules/regenerator-runtime/**
/node_modules/seedrandom/**
/node_modules/tiny-emitter/**
/node_modules/typed-function/**

/scripts/turtle3d-playground.js
#*#
